*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Overpass", sans-serif;
    background: hsl(216, 12%, 8%);

}
.attribution{
    margin-top: auto;
}

main{
    max-width: 375px;
    margin: auto 0;
    background: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    border-radius: 16px;
    text-align: center;

}

.vote-card{
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
}

h2{
    color: white;
}

.closing-card{
    display: none;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
    justify-content: center;
    align-items: center;
}


.point-numbers-container{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #313d49;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 16px;
    background: hsl(25, 97%, 53%);
    border: none;
    border-radius: 32px;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: white;
    
}

.selection-message{
    color: hsl(25, 97%, 53%);
    background: #313d49;
    padding: 8px 16px;
    border-radius: 16px;
}

.point-number.container:hover{
   background: hsl(216, 12%, 54%);
   color: white;
   cursor: pointer;
    
}

.point-number.container.active{
   background: hsl(25, 97%, 53%);
   color: white;
    
}

button:hover{
    background: white;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.closing-card.show{
    display: flex;
}
.vote-card.hide{
    display: none;
}

.attribution{
    color: hsl(217, 12%, 63%);
}
.attribution a{
    color: white;
}